/* styles.css (or another CSS file) */

.filterTitle {
  color: #696974;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}

.filterSubtitle {
  color: #b5b5be;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}

table {
  width: 97%;
  margin-left: 3%;
  border-radius: 12px;
  margin-top: 2%;
  flex-wrap: wrap;
  background-color: #1c1c24;
}

thead {
  background-color: #292932;
  height: 48px;
  border-radius: 10px;
}

th {
  margin-bottom: 10px;
  color: #92929d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}

.thead-background {
  background-color: #292932;
  border-collapse: unset;
  /* border-radius: 20px; */
}
.thead-background tr th {
  padding: 10px;
}

tbody {
  background-color: #1c1c24;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}
.table-row tr {
  margin-top: 10px;
}
.table-row tr td {
  background-color: #1c1c24;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: #b5b5be;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.even-row {
  /* background-color: #1c1c24; */
}
.odd-row {
  /* background-color: red; */
  margin: 10px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pagination button {
  margin: 0px 4px;
  padding: 10px 16px;
  border: none;
  /* background-color: #007bff; */
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.page-item {
  margin: 0.3%;
}

/* PaginationTable.css */
.page-item.active .page-link {
  background-color: rgba(207, 84, 144, 1);
  color: white; /* Optional: Set the text color to white for better contrast */
  border-color: red; /* Optional: Set border color to match the background */
}

.card {
  min-width: 10%;
  min-height: 40px;
}
.card {
  display: flex;
}
.card--content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  margin: 5px;
  overflow-x: auto;
  margin-top: 2%;
  margin-bottom: 4%;
}
.card {
  overflow-x: auto;
}
.card::-webkit-scrollbar {
  display: none;
}
