@use "../../../scss/abstracts/" as *;
.form__control {
  position: relative;
  margin-bottom: 2rem;
  // border: 1px solid red;
  label {
    position: absolute;
    top: -50%;
    left: 10px;

    font-size: $fontSizeBodyMedium;
    // background-color: aqua !important;
  }

  .input {
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 12px;
    border: 1px solid #212122;
    background: #0e0e10;
    color: rgba(255, 255, 255, 0.8);
    min-width: 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 300px) {
      min-width: auto;
    }
    transition: all 0.5s;
  }
}

html[dir="rtl"] {
  .form__control {
    label {
      left: auto;
      right: 10px;
    }
  }
}
